body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h1{
  text-shadow: 1px 1px 3px #000;
}

h3{
  font-weight: bold;
}
p{
  color: #8f8f8f;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.5rem;
}
/* top section */
#title{
  text-align: left;
  padding: 3% 15%;
}
/* nav bar */
.navbar{
  padding:0 0 3rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bolder;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.5rem;
  font-family: "Ubuntu";
}

/* title section */
.intro{
  margin: 7% 0 0;
}
.namaste-img{
  width: 60%;
  margin: 0 15% 0 25%;
}
.title-para{
  margin: 5% 0 0;
  line-height: 2;
  font-size: 2rem;
}
.dev{
  margin: 3% 0;
  padding-left: 10%;
  text-align: center;
}

.coloured-section{
  background-image: linear-gradient(to top left, #a2d5f2, #00416d);
}
.download-btn{
  margin: 5% 5% 5% 0;
  font-size: 1.7rem;
}

/* feature section */
#features{
  padding: 7% 15% ;
}
.feature-box {
  text-align: center;
  padding: 3%;
}
.feature-img{
  color: #e11d74;
  margin-bottom: 1rem;
}
.feature-img:hover{
  color: #df5e88;
}

/* picture gallery */
.carousel-inner img {
  width: 100%;
  height: 50rem;
}

/* price */
#price{
  padding: 80px 100px;
}
.pricing-col{
  padding: 3% 2%;
}
.price-header{
  font-weight: 600;
}
.c-body{
  color: #000;
}
.card-body{
  text-align: left;
  padding: 1.9rem;
}
.price-btn {
  margin: 7% auto auto;
  font-size: 2rem;
}

/* footer section */
#footer{
  background-color: #fc9d9d;
  padding: 4% 15% ;
}
.footer-image{
  padding: 1%;
}
.copyright{
  color: #fff;
  font-size: 1.2rem;
  margin-top: 16px;
}
@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .namaste-img{
    height: 32rem;
    margin: 0 15% 0 10%;
  }
  .dev{
    padding: 0 5% 0 0;
    font-size: 2.5rem;
  }
  .pricing-col{
    padding: 3% 3%;
  }
}
